.DaliyPlan{
    height: 400px;
    border: 2px black solid;
    text-align: center;
}

.DailyPlanHeader{
    border: 2px red solid;
    height: 10%;
}

.DailyPlanBody{
    border: 2px blue solid;
    height: 90%;
}